anyio==3.4.0
asgiref==3.4.1
beautifulsoup4==4.10.0
bidict==0.21.4
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.8
click==8.0.3
fastapi==0.70.0
flake8==4.0.1
Flask==2.0.2
Flask-SocketIO==5.1.1
h11==0.12.0
httptools==0.2.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
livereload==2.6.3
lxml==4.6.4
MarkupSafe==2.0.1
Pillow==8.4.0
pydantic==1.8.2
python-dotenv==0.19.2
python-engineio==4.3.0
python-socketio==5.5.0
PyYAML==6.0
requests==2.26.0
simple-websocket==0.4.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.1
starlette==0.16.0
tornado==6.1
typing_extensions==4.0.0
uvicorn==0.15.0
uvloop==0.16.0
watchgod==0.7
websockets==10.1
Werkzeug==2.0.2
wsproto==1.0.0
charset-normalizer==2.0.8
google-api-python-client==1.6.4
httplib2==0.10.3
idna==3.3
oauth2client==4.1.2
# pocketsphinx @ git+https://github.com/Im-Fran/pocketsphinx-python@3cce4aa2e8d9e7ea988d00a0cbe229f03eb66d8b
pyasn1==0.4.2
pyasn1-modules==0.2.1
# PyAudio==0.2.11
rsa==3.4.2
SpeechRecognition==3.8.1
tqdm==4.19.5
uritemplate==3.0.0
urllib3==1.26.7
word2number==1.1
structlog==21.5.0